ProjectUASDisprog/xml-resources/web-service-references/WebServiceServer/wsdl/localhost_8181/WebServiceProjectUASDisprog/WebServiceServer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://model.newpackage/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://model.newpackage/">

<xs:element name="addPost" type="tns:addPost"/>

<xs:element name="addPostResponse" type="tns:addPostResponse"/>

<xs:element name="addReply" type="tns:addReply"/>

<xs:element name="addReplyResponse" type="tns:addReplyResponse"/>

<xs:element name="getChat" type="tns:getChat"/>

<xs:element name="getChatResponse" type="tns:getChatResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="registrasi" type="tns:registrasi"/>

<xs:element name="registrasiResponse" type="tns:registrasiResponse"/>

<xs:element name="ubahPost" type="tns:ubahPost"/>

<xs:element name="ubahPostResponse" type="tns:ubahPostResponse"/>

<xs:element name="viewListAccount" type="tns:viewListAccount"/>

<xs:element name="viewListAccountResponse" type="tns:viewListAccountResponse"/>

<xs:element name="viewListPost" type="tns:viewListPost"/>

<xs:element name="viewListPostResponse" type="tns:viewListPostResponse"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewListAccount">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewListAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPost">
<xs:sequence>
<xs:element name="judul" type="xs:string" minOccurs="0"/>
<xs:element name="deskripsi" type="xs:string" minOccurs="0"/>
<xs:element name="user_pembuat" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPostResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrasi">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrasiResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListPost">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListPostResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ubahPost">
<xs:sequence>
<xs:element name="judul" type="xs:string" minOccurs="0"/>
<xs:element name="deskripsi" type="xs:string" minOccurs="0"/>
<xs:element name="userPembuat" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ubahPostResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReply">
<xs:sequence>
<xs:element name="user_id" type="xs:int"/>
<xs:element name="post_id" type="xs:int"/>
<xs:element name="reply" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReplyResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChat">
<xs:sequence>
<xs:element name="idPost" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChatResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>