ProjectUASDisprog/src/META-INF/wsdl/localhost_8080/WebServiceProjectUASDisprog/WebServiceServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://model.newpackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://model.newpackage/" name="WebServiceServer">
<types>
<xsd:schema>
<xsd:import namespace="http://model.newpackage/" schemaLocation="http://localhost:8080/WebServiceProjectUASDisprog/WebServiceServer?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addLike">
<part name="parameters" element="tns:addLike"/>
</message>
<message name="addLikeResponse">
<part name="parameters" element="tns:addLikeResponse"/>
</message>
<message name="addPost">
<part name="parameters" element="tns:addPost"/>
</message>
<message name="addPostResponse">
<part name="parameters" element="tns:addPostResponse"/>
</message>
<message name="ubahPost">
<part name="parameters" element="tns:ubahPost"/>
</message>
<message name="ubahPostResponse">
<part name="parameters" element="tns:ubahPostResponse"/>
</message>
<message name="addReply">
<part name="parameters" element="tns:addReply"/>
</message>
<message name="addReplyResponse">
<part name="parameters" element="tns:addReplyResponse"/>
</message>
<message name="getChat">
<part name="parameters" element="tns:getChat"/>
</message>
<message name="getChatResponse">
<part name="parameters" element="tns:getChatResponse"/>
</message>
<message name="viewListAccount">
<part name="parameters" element="tns:viewListAccount"/>
</message>
<message name="viewListAccountResponse">
<part name="parameters" element="tns:viewListAccountResponse"/>
</message>
<message name="viewListPost">
<part name="parameters" element="tns:viewListPost"/>
</message>
<message name="viewListPostResponse">
<part name="parameters" element="tns:viewListPostResponse"/>
</message>
<message name="registrasi">
<part name="parameters" element="tns:registrasi"/>
</message>
<message name="registrasiResponse">
<part name="parameters" element="tns:registrasiResponse"/>
</message>
<portType name="WebServiceServer">
<operation name="login">
<input wsam:Action="http://model.newpackage/WebServiceServer/loginRequest" message="tns:login"/>
<output wsam:Action="http://model.newpackage/WebServiceServer/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://model.newpackage/WebServiceServer/helloRequest" message="tns:hello"/>
<output wsam:Action="http://model.newpackage/WebServiceServer/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addLike">
<input wsam:Action="http://model.newpackage/WebServiceServer/addLikeRequest" message="tns:addLike"/>
<output wsam:Action="http://model.newpackage/WebServiceServer/addLikeResponse" message="tns:addLikeResponse"/>
</operation>
<operation name="addPost">
<input wsam:Action="http://model.newpackage/WebServiceServer/addPostRequest" message="tns:addPost"/>
<output wsam:Action="http://model.newpackage/WebServiceServer/addPostResponse" message="tns:addPostResponse"/>
</operation>
<operation name="ubahPost">
<input wsam:Action="http://model.newpackage/WebServiceServer/ubahPostRequest" message="tns:ubahPost"/>
<output wsam:Action="http://model.newpackage/WebServiceServer/ubahPostResponse" message="tns:ubahPostResponse"/>
</operation>
<operation name="addReply">
<input wsam:Action="http://model.newpackage/WebServiceServer/addReplyRequest" message="tns:addReply"/>
<output wsam:Action="http://model.newpackage/WebServiceServer/addReplyResponse" message="tns:addReplyResponse"/>
</operation>
<operation name="getChat">
<input wsam:Action="http://model.newpackage/WebServiceServer/getChatRequest" message="tns:getChat"/>
<output wsam:Action="http://model.newpackage/WebServiceServer/getChatResponse" message="tns:getChatResponse"/>
</operation>
<operation name="viewListAccount">
<input wsam:Action="http://model.newpackage/WebServiceServer/viewListAccountRequest" message="tns:viewListAccount"/>
<output wsam:Action="http://model.newpackage/WebServiceServer/viewListAccountResponse" message="tns:viewListAccountResponse"/>
</operation>
<operation name="viewListPost">
<input wsam:Action="http://model.newpackage/WebServiceServer/viewListPostRequest" message="tns:viewListPost"/>
<output wsam:Action="http://model.newpackage/WebServiceServer/viewListPostResponse" message="tns:viewListPostResponse"/>
</operation>
<operation name="registrasi">
<input wsam:Action="http://model.newpackage/WebServiceServer/registrasiRequest" message="tns:registrasi"/>
<output wsam:Action="http://model.newpackage/WebServiceServer/registrasiResponse" message="tns:registrasiResponse"/>
</operation>
</portType>
<binding name="WebServiceServerPortBinding" type="tns:WebServiceServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ubahPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addReply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getChat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewListAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewListPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceServer">
<port name="WebServiceServerPort" binding="tns:WebServiceServerPortBinding">
<soap:address location="http://localhost:8080/WebServiceProjectUASDisprog/WebServiceServer"/>
</port>
</service>
</definitions>